body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#cat {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -20px;
  /* adds walk animation*/
  /*animation-name: walk;
  animation-duration: 25s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite*/

  /* adds moonwalk animation*/
  /*animation-name: moonwalk;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-iteration-count:infinite;*/

  /*adds pacer animation*/
  /*animation-name: pacer;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-iteration-count: infinite;*/

  /* adds beffies animation*/
  animation-name: beffies;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*walk functionality*/
/*@keyframes walk {
  0% {
    left: 0px;
  }
  100% {
  left: 80%;
  }
}*/

/*moonwalk functionality*/
/*@keyframes moonwalk {
  0% {
    left: 0;
  }
  100% {
    left: 95%;
  }
}*/

/*pacer funcationality*/
/*@keyframes pacer {
  0% {
    right: 0;
    transform: scaleX(-1);
  }
  50% {
    right: 40%;
    transform: scaleX(-1);
  }
  100% {
    right: 80%;
    transform: scaleX(1);
  }
}*/

/*adds beffies functionality*/
@keyframes beffies {
  0% {
    left: 0;
    top: 8%;
  }
  50% {
    right: 0;
    top: 8%;
    transform: rotate(-150deg)
  }
  100% {
    right: 100%;
    top: 8%; 
    transform: rotate(300deg);
  }
}

@keyframes larrybird {
}
